/* Custom CSS for green-bordered rectangles and hover effect */
.nav-item {
    border: 2px solid transparent;
    border-radius: 5px;
  }
  .nav-item:hover {
    background-color: green; /* Green background on hover */
    border-color: #444b45; /* Green border on hover */
  }
  /* CSS for header */
header {
    background-image: url("images/image3.jpg");
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
  }
  /* CSS for fadeIn animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* CSS for slideInLeft animation */
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Apply the animations to the h1 and h2 elements */
  header h1 {
    animation: fadeIn 4s ease-out; /* Adjust duration and timing as needed */
    color: #28a745;
  }
  
  header h2 {
    animation: slideInLeft 4s ease-out; /* Adjust duration and timing as needed */
  }
  /* Custom CSS */
.carousel-item img {
    border-radius: 20px;
  }
   /* Optional: Adjust button styling */
   .col-md-6 {
    border-radius: 20px;
  }
  #registerButton {
    background-color: #4CAF50; /* Green */
    border-color: #e3e6e3; /* Green border, remove if not needed */
  }
  
  #registerButton:hover {
    background-color: #45a049; /* Darker shade for hover effect */
  }
  
